*{
    margin:0;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-family: "Lato","sans-serif";
    font-size: 20px;
    color: black;
    text-rendering: optimizeLegibility;
    /*mặc định font-size 16px*/
}
.login{
    width: 350px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
}
.login h1{
    text-align: center;
    margin-bottom: 50px;
    
}
body{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fc00ff, #00dbde); 
    background-size: cover;
    background-position:center;
    background-attachment: fixed;

}
.textbox{
    width: 80%;
    border-bottom: 2px solid #adadad;
    position: relative;
    margin-left:25px;
    margin-top:30px;
    margin-bottom: 30px;
    
}

.textbox input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}
.textbox span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}
.focus + span::before{
    top: -5px;
}
.textbox span::after{
    content: '';
    position: absolute;
    left:0;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition: .5s;
    top:100%;
    
}
.focus + span::after{
    width: 100%;
}
.login i{
    float: left;
    margin-top:10px;
    margin-left: -5px;
 }

.btn{
    display: block;
    margin:10px 25px;
    height: 35px;
    font-size: 20px;
    color:black;
    width: 80%;
    border: 1px solid #0cbb81;
    background: linear-gradient(to right, #fc00ff, #00dbde); 
    background-size: 150%;
    padding: 5px;
    border-radius: 5px;
    transition:all .5s;
    cursor: pointer;
    outline: none;
}
.btn:hover,
.btn:active{
    background-position: right;
}


h1::after{
    content: " ";
    display: block;
    height: 3px;
    width: 100px;
    background-color: #0cbb81;
    margin: 0 auto;
    margin-top:5px;
}
a{
    font-size: 16px;
    font-weight: 300;
    color: blue;
    margin-left: 25px
}
.err{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,930%);
    z-index: 1;
    font-size: 80%;
    color: red;
}
.clearfix::before{
    content: " ";
    display: table;
    clear: both;
}

.remember{
    position: relative;
    color: black;
    font-size: 16px;
    margin-left: 25px;
    
    /*mặc định font-size 16px*/
}
