*{
    margin:0;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-family: "Lato","sans-serif";
    font-size: 20px;
    color: black;
    text-rendering: optimizeLegibility;
    /*mặc định font-size 16px*/
}
body{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fc00ff, #00dbde); 
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
h1{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}
h1::after{
    content: " ";
    display: block;
    height: 3px;
    width: 100px;
    background-color: #0cbb81;
    margin: 0 auto;
    margin-top:5px;
}
#demoForm{
    width: 300px;
    height: 125vh;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
   
}
.textbox{
    width: 100%;
    border-bottom: 1px solid #0cbb81;
    overflow: hidden;
    padding: 5px 0;
    margin:10px 0;  
  
}
.textbox input{
    outline: none;
    border: none;
    background: none;

}

.btn{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-60%,900%);
    display: block;
    margin:10px 25px;
    height: 35px;
    font-size: 20px;
    color:black;
    width: 80%;
    border: 1px solid #0cbb81;
    background: linear-gradient(to right, #fc00ff, #00dbde); 
    background-size: 150%;
    padding: 5px;
    border-radius: 5px;
    transition:all .5s;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
.btn:hover,
.btn:active{
    background-position: right;
}

.textbox,.required:after {
    float: right;
    content:"*";
    color:red;
}

label.error{
    display: block;
    color: red;
    position: absolute;
    margin-top:20px;
    
    font-size: 10px;
 
}
.err{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,900%);
    z-index: 1;
    font-size: 80%;
    color: red;
}
.cookie{
    position: absolute;
    display: block;
    top:50%;
    left:50%;
    transform: translate(-60%,600%);
    margin:10px 25px;
    height: 60px;
    font-size: 15px;
    color:black;
    width: 90%;   
    text-align: center;
}
.cookie button{
    display: inline-block;
    height: 60%;
    width: 45%;
}