*{
    margin:0;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-family: "Lato","sans-serif";
    font-size: 62.5%;
    color: black;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    /*mặc định font-size 16px*/
}
.container{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(120deg, #fc00ff, #00dbde); 
    background-size: cover;
    background-position:center;

}
.form-box{
    width: 40rem;
    height: 48rem;
    position: relative;
    margin:6% auto;
    background:#fff;
    padding:5px;
    transition:  .5s;
    overflow: hidden;
    border-radius: 10px;
}
.button-box{
    width:22rem;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #8eb5e7;
    border-radius: 3rem;
}
.toggle-btn{
    padding:1rem 3rem;
    cursor: pointer;
    background:transparent;
    border:0;
    outline: none;
    position: relative;
}
#btn{
    position: absolute;
    top:0;
    left:0;
    width: 11rem;
    height: 100%;
    background: linear-gradient(120deg, #fc00ff, #00dbde); 
    border-radius: 3rem;
    transition: all .5s;
}
.demoLogin{
    position: absolute;
    top:12rem;
    width: 28rem;
    transition: all .5s;
}
.input-field{
    width: 95%;
    padding: 1rem 0;
    margin:0.5rem 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.1rem solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 1rem 3rem;
    margin:3rem auto;
    cursor: pointer;
    display: block;
    background:linear-gradient(120deg, #fc00ff, #00dbde); 
    border-radius: 3rem;
    border: 0;
    outline: none;   
}
.check-box{
    margin: 3rem 1rem 3rem 0;
   
}
span{
    display: inline;
    color: #777;
    font-size: 1.5rem;
    bottom: 6.5rem;
    margin-left: 2rem;
}
#Login{
    left:5rem;
}
#Register{
    left:45rem;
}
.textbox{
    display: flex;
}
.i-required{
    display: flex;
    align-items: center;
    font-size:2rem;

}
.i-required::after{
    
    content: "*";
    color: red;
    float: right;
  
}
label.error{
    display: block;
    color: red;
    position: absolute;
    font-size: 10px;
 
}
.message{
    margin:0 auto;
    font-size: 1.5rem;
    color: red;
    width: 100%;
   
    
}
li
{
    list-style: none;
    background-color: pink;
    padding: 0.5rem;

}

/* .login{
    width: 350px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
}
.login h1{
    text-align: center;
    margin-bottom: 50px;
    
}
body{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fc00ff, #00dbde); 
    background-size: cover;
    background-position:center;
    background-attachment: fixed;

}
.textbox{
    width: 80%;
    border-bottom: 2px solid #adadad;
    position: relative;
    margin-left:25px;
    margin-top:30px;
    margin-bottom: 30px;
    
}

.textbox input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}
.textbox span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}
.textbox span::after{
    content: '';
    position: absolute;
    left:0;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition: .5s;
    top:100%;
    
}
.login i{
    float: left;
    margin-top:10px;
    margin-left: -5px;
 }

.btn{
    display: block;
    margin:10px 25px;
    height: 35px;
    font-size: 20px;
    color:black;
    width: 80%;
    border: 1px solid #0cbb81;
    background: linear-gradient(to right, #fc00ff, #00dbde); 
    background-size: 150%;
    padding: 5px;
    border-radius: 5px;
    transition:all .5s;
    cursor: pointer;
    outline: none;
}
.btn:hover,
.btn:active{
    background-position: right;
}


h1::after{
    content: " ";
    display: block;
    height: 3px;
    width: 100px;
    background-color: #0cbb81;
    margin: 0 auto;
    margin-top:5px;
}
a{
    font-size: 16px;
    font-weight: 300;
    color: blue;
    margin-left: 25px
}
label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,900%);
    z-index: 1;
    font-size: 80%;
    color: red;
}
.textbox::placeholder {
    color: white;
    opacity: 0.5; /* Firefox */
/* }
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.focus + span::before{
    top: -5px;
}
.focus + span::after{
    width: 100%;
} */ 
